body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    /*background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);*/
    font-family: Montserrat;
    color: #fff;
}

header {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 33px 45px;
    height: 75px;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
}

#logo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 70px;
    background-color: #362F25;
    border-radius: 40px;
    border: 2px solid   #fff;
}

#logo span {
    display: flex;
    font-size: 22px;
    align-items:center;
    line-height: 21px;
    color: #fff;
    font-weight: bold;
}
#nav {
    display: flex;
    flex: 1;
    height: 75px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
#menu {
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-evenly;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-left: 40px;
    justify-content: space-evenly;
}

#content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 120px;
}


#eyecatch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 220px;
    
}

#main_heading {
    display: flex;
    flex-direction: row;
    font-size:120px;
    line-height: 110px;
    letter-spacing: -2.77px;
    text-shadow: 3px 3px 23px rgba(0, 0, 0, 0.3);
    font-weight: 800;
    font-stretch: normal; 
    font-style: normal;  
    line-height: 0.92;
    padding-left: 255px;
}

#auto_play{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 194px;
    margin-left: 418px;
}

#auto_play_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:116px;
    height:116px;
    border-radius: 65px;
    border: 4px solid #e20000;
}

#auto_play_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36px;
    height: 28px;
    box-sizing: border-box;
    border-style: solid;
    border-width:  28px 0px 28px 36px;
    border-color: transparent transparent transparent #fff;

}

#auto_play_caption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-weight: 500; 
    font-stretch: normal; 
    font-style: normal; 
    line-height: 1.4; 
    letter-spacing: 1.36px; 
    text-align: center;
    color: #ffffff;
}

#main_desciption {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    font-size: 22px;
    line-height: 34px;
    color: #d0d0d0;
    font-weight: normal;
    font-stretch: normal;  
    font-style: normal;  
    line-height: 1.55;
    letter-spacing: normal;
    text-shadow: 0 10px 29px #000000;
    width: 890px;
    height: 68px;
    padding-left: 255px;
}

#video_data {
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    padding-left: 255px;
    padding-right: 250px;
    margin-top: 46px;
    

}

#video_content1 {
    display: flex;
    flex-direction: row ;
    box-shadow: 2px 2px 35px 0 rgba(0, 0, 0, 0.25);
    background: url(summer.jpg);
    background-size: cover;
    width: 368px;
    height: 210px;
    border: 0.1px solid #fff;
}

#video_content2 {
    display: flex;
    flex-direction: row ;
    box-shadow: 2px 2px 35px 0 rgba(0, 0, 0, 0.25);
    background: url(autum.jpg);
    background-size: cover;
    width: 368px;
    height: 210px;
    border: 0.1px solid #fff;
}

#video_content3 {
    display: flex;
    flex-direction: row ;
    box-shadow: 2px 2px 35px 0 rgba(0, 0, 0, 0.25);
    background: url(winter.jpg);
    background-size: cover;
    width: 368px;
    height: 210px;
    border: 0.1px solid #fff;
}
#video_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-left: 29px;
    width: 58px;
    height: 58px;
    border-radius: 29px;
    border: solid 2px #ffffff;
}

#play-symbol {
    display: flex;
    flex-direction: row;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width:  10px 0px 10px 17px;
    border-color: transparent transparent transparent #fff;
}

#video_title h6 {
    display:flex;
    flex-direction: row;
    margin-top: 122px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    font-stretch: normal;  
    font-style: normal;  
    line-height: normal;
    letter-spacing: -2px;    
}

#video_title span {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-weight: 500;
    color: #fff;
    font-size:18px;
    box-shadow: 2px 2px 35px 0 rgba(0, 0, 0, 0.25);
}

footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 375px;
    margin-right: 375px;
    margin-top: 0px;
    height: 75px;
    border-top: solid 2px #404040;
    border-bottom: solid 2px #404040;
}

#countries{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:75%;
    border-right: solid 2px #404040;
}

#cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.31px;
}
#country_name {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;

}
#country_name a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.23px;
}

#copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    align-items: center;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.23px;
}